In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# set working directory -> you must set the path into which you have uploaded the zipped file
# this is required in the case of colab - not in local mode
%cd /content/drive/My\ Drive/DMTM

/content/drive/My Drive/DMTM

In [4]:
# list content of drive
%ls

In [9]:
# READ Transaction File 
transactions = []

fileData = open('TestTransaction.txt', "r+").readlines()
  
# remove all whitespaces, all newline chars, trailing commas that have no input after it
arrTransact = [line.replace(" ", "").rstrip("\n").rstrip(",") for line in fileData]

transactions = [list(map(int, line.split(","))) for line in arrTransact]

transactions

[[10, 50, 30, 40], [1, 2, 4, 6, 8, 9, 10], [3, 4, 5], [7, 9, 20]]

In [19]:
# READ Parameter file 
MIS= {}
SDC= 0 

mis_rest_val = 0.0

fileData = open('TestParameter.txt', "r+").readlines()
arrParams = [line.replace(" ", "").rstrip("\n") for line in fileData]

# now we must read exactly-> MIS(n)=<float_value> and MIS(rest)=<float_value> and SDC=<float_value>
for param in arrParams:
    if param.find("MIS") > -1:
        # get indices
        key_start_idx = param.find("(")
        key_end_idx = param.find(")")
        val_start_idx = param.find("=")
        
        # extract & record dict keys and vals 
        key = param[key_start_idx + 1 : key_end_idx]
        val = float((param[val_start_idx + 1 :]))
        
        if key != 'rest':
            MIS[int(key)] = val
        else:
            # if REST -> we have to add this value for keys not in dict already later on 
            mis_rest_val = val
                    

    if param.find("SDC=") > -1:
        SDC = param[param.find("=") + 1 :]

        # assert if float works
        try:
            SDC = float(SDC)
        except ValueError:
            raise Exception("Error converting SDC value")

# now populate mis dict with pending item values using mis_rest_val
for t in transactions:
  for item in t:
    if item not in MIS.keys():
      MIS[int(item)] = mis_rest_val

MIS

{1: 0.02,
 2: 0.04,
 3: 0.01,
 4: 0.01,
 5: 0.01,
 6: 0.01,
 7: 0.04,
 8: 0.01,
 9: 0.01,
 10: 0.01,
 20: 0.01,
 30: 0.01,
 40: 0.01,
 50: 0.01}

In [27]:
# Calculate M <- sort(I, MS) 
# where I == itemset in each transaction record
M = []

for t in transactions:
  t.sort()
  tmpD = []
  for item in t:
    tmpD.append((item,MIS[item]))

  tmpD.sort(key=lambda tup: tup[1])  # sorts in place
  M.append(tmpD)
  # sort tmpD based on tuple values
    
M

[[(10, 0.01), (30, 0.01), (40, 0.01), (50, 0.01)],
 [(4, 0.01),
  (6, 0.01),
  (8, 0.01),
  (9, 0.01),
  (10, 0.01),
  (1, 0.02),
  (2, 0.04)],
 [(3, 0.01), (4, 0.01), (5, 0.01)],
 [(9, 0.01), (20, 0.01), (7, 0.04)]]

In [57]:
import operator

# Calc L <- init-pass(M, T)
# basically counts of 1-itemsets in each transaction 
L = {}

# order indexer 
order = 1

for t in M:
  for tpl_item in t:
    item = tpl_item[0]
    item_mis = tpl_item[1]

    if item not in L.keys():
      L[item] = {
          'mis': item_mis,
          'count': 1,
          'order': order
      }

      order += 1
    else:
      L[item]['count'] += 1

10
30
40
50
4
6
8
9
1
2
3
5
20
7

In [ ]:
# now sort L_fast_retrieve into L in the order they are seen in M 
for t in M: 
  for tpl_item in t:
    item = tpl_item[0]

    if item

In [38]:
# calculate F1 ==> Frequent itemsets of size 1
n = len(transactions)

F = {}
F['1'] = []

for i in L:
  if ( L[i]['count'] / n ) >= L[i]['mis'] :
    F['1'].append(i)

F

{'1': [10, 30, 40, 50, 4, 6, 8, 9, 1, 2, 3, 5, 20, 7]}

In [68]:
k = 2 

C = {}

# loop K until the end of freq itemset iteration doesnt return empty set 
# while len(F[str(k-1)]) > 0:
#   if k == 2:
#     C['2'] = level2_candidate_gen(L, SDC)
#   else 
#     C[str(k)] = MScandidate_gen(F[str(k-1)], SDC)
C['2'] = level2_candidate_gen(L, SDC)

here
[(10, 4), (10, 9), (30, 40), (30, 50), (30, 6), (30, 8), (30, 1), (30, 2), (30, 3), (30, 5), (30, 20), (30, 7), (40, 50), (40, 6), (40, 8), (40, 1), (40, 2), (40, 3), (40, 5), (40, 20), (40, 7), (50, 6), (50, 8), (50, 1), (50, 2), (50, 3), (50, 5), (50, 20), (50, 7), (4, 9), (6, 8), (6, 1), (6, 2), (6, 3), (6, 5), (6, 20), (6, 7), (8, 1), (8, 2), (8, 3), (8, 5), (8, 20), (8, 7), (1, 2), (1, 3), (1, 5), (1, 20), (1, 7), (2, 3), (2, 5), (2, 20), (2, 7), (3, 5), (3, 20), (3, 7), (5, 20), (5, 7), (20, 7)]

In [66]:
def fn_Sup(val):
  return val/n 

def level2_candidate_gen(L, SDC):
  print('here')
  C2 = []

  for i in sorted(L, key = lambda name: L[name]['order']):

    if ( L[i]['count'] / n ) >= L[i]['mis'] :
      for h in sorted(L, key = lambda name: L[name]['order']):

        if L[h]['order'] > L[i]['order']:
          sdc_diff = fn_Sup(L[h]['count']) -  fn_Sup(L[i]['count'])
          
          if ( (L[h]['count']/n) >= L[i]['mis'] ) and ( abs(sdc_diff) <= SDC ) :
            C2.append((i,h))
            
  return C2